* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* stilizzazione header */

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: red;
    margin: 10px 0;
}

header button {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
    color: grey;
}

/* stilizzazione sezione principale */

.informazioni-film {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-around;
}

.card-movie {
    position: relative;
    margin-bottom: 50px;
    display: flex;
}

.card-movie span {
    font-weight: bold;
}

.card-movie i {
    color: orange;
}

.card-movie .overlay {
    position: absolute;
    z-index: 999;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    color: white;
    background-color: black;
    display: none;
    padding: 30px 15px;
    overflow-y: auto;
}

.card-movie:hover .overlay {
    display: block;
}

.card-movie p {
    margin-bottom: 10px;
}

.card-movie .language {
    position: relative;
}

.language img {
    position: absolute;
    bottom: 0;
}

.card-movie img.cover {
    width: 342px;
    border: 3px solid white;
}
