* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* stilizzazione header */

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: red;
    margin: 10px 0;
}

header button {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
    color: grey;
}

/* stilizzazione sezione principale */

.card-movie {
    border: 2px solid white;
    position: relative;
}

.card-movie .overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    display: none;
}

.card-movie:hover .overlay {
    display: block;
}

.card-movie .language {
    position: relative;
}

.language img {
    position: absolute;
    bottom: 0;
}

.card-movie img.cover {
    width: 342px;
}
